/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Courier New','Impact','微軟行書體', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Courier New','Impact','微軟行書體', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 5px 10px;
    background-color: #9BB9D6;
    opacity: 0.7;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 55px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 200px;
    max-width: 200px;
    background:#B0C9Cf;
    color: #003853;
    transition: all 0.3s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -200px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 0px;
    background: #e4dcc8;
    text-align: center;

}
#sidebar #sidebartitle{
    background-image: url("/static/img/cat.jpg");
    height: 15vh;
    margin: 0;
    background-size: cover;
    text-align: center;
    color:#003853;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #003853;
}

#sidebar ul p {
    color: #003853;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #003853;
    background: #E1D0C9;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #003853;
    background: #C5D9DD;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #88A9B0;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #88A9B0;
    color: #003853;
}

a.article, a.article:hover {
    background: #88A9B0 !important;
    color: #003853 !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #E3E2DD;


}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 100%;
    height: 3px;
    margin: 0 auto;
    display: block;
    background: rgb(255, 254, 254);
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.1s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}


/* ---------------------------------------------------
    vid_index
----------------------------------------------------- */
*
{
    margin: 0;
    padding: 0;
}
.home
{
    background: rgba(150, 150, 150, 0.55);
    height: 100vh;
}
.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
@media (min-aspect-ratio:16/9)
{
    .video-background
    {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9)
{
    .video-background
    {
        width: auto;
        height: 100%;
    }
}
.welcome-msg
{
    position: relative;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    color: #fff;
    top: 100px;
}
.welcome-msg h1
{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 15px;
}
.logo
{
    position: absolute;
    top: 0;
    margin: 15px;
    height: 40px;
}
.welcome-title
{
    position: relative;
    text-align: center;
    font-family: monospace;
    color: #fff;
    top: 45px;
    margin: 50px;
}
.welcome-title h1
{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
}
.footer
{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
/* .enterbtn
{
    font-family: monospace;
    font-size: 25px;
    margin: 30px;
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:10px;
    cursor:pointer;}

    input:hover{
    color:#003C9D;
    background-color:#fff;
    border:2px #003C9D solid;
  } */
#enter_btn
{
    position: relative;
    text-align: center;
    font-family: monospace;
    color: #fff;
    top: 50px;
    margin: 50px;
    font-size: 30px;
    padding: 7px 22px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 25px;
}
#enter_btn:hover
{
    letter-spacing: 6px;
    color:#fff;
    background-color: coral;
    border:2px #fff solid;
}
.enterbtn
{
    border:2px coral solid;
}
.marquee-news
{
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    top: 6px;
    font-size: 25px;
    color: rgb(27, 23, 23);

}