
{% extends 'nav.html' %}
{% block content %}
</head>
  <body>
    {% load static %}
    <div style="width:30vw;padding:5px">
        <div class="row">
            <div class="col-4"><h4>年月份</h4></div>
            <div class="col-5">
                <select class="custom-select" id="yearMonth">
                    <option  selected>選擇年月份</option>
                    <option value="10901">109年1月</option>
                    <option value="10902">109年2月</option>
                    <option value="10903">109年3月</option>
                    <option value="10904">109年4月</option>
                    <option value="10905">109年5月</option>
                    <option value="10906">109年6月</option>
                    <option value="10907">109年7月</option>
                    <option value="10908">109年8月</option>
                    <option value="10909">109年9月</option>
                    <option value="10910">109年10月</option>
                    <option value="10911">109年11月</option>
                    <option value="10912">109年12月</option>
                    <option value="11001">110年1月</option>
                    <option value="11002">110年2月</option>
                    <option value="11003">110年3月</option>

                </select>
            </div>
            <div class="col">
                <button id="submit" type="button" class="btn btn-primary">查詢</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4"><h4>交通事故分級</h4></div>
            <div class="col-5">
                <select class="custom-select" id="level">
                    <option  selected>--交通事故分級--</option>
                    <option value="/1/">一級A1</option>
                    <option value="/2/">二級A2</option>
                    <option value="/3/">三級A3</option>

                </select>
            </div>
        </div>
        {% comment %} <div class="row">
            <div class="col-4"><h4>時間</h4></div>
            <div class="col-5">
                <select class="custom-select" id="dayNight">
                    <option  selected>--交通事故時間--</option>
                    <option value="早上/">早上</option>
                    <option value="下午/">下午</option>
                </select>
            </div>
        </div> {% endcomment %}




    </div>

    <div id="map" style="height:70vh;weight:80vw;"></div>


    <script type="text/javascript"  >

    var map;
    var data;
    var centerLatLng ;
    var position;
    var yearMonth;
    var level
    var dayNight
    var marker
    var isShow = false
    {% load static %}
    {% block jquery %}
    //$(document).ready(function(){
    $('#yearMonth').on('change', function() {
        yearMonth = this.value
        //var accidentMap = '/api/data/get_accident_trafficMap/' + this.value

    });
    $('#level').on('change', function() {
        level = this.value
        //accidentMap = accidentMap + this.value

    });
    $('#dayNight').on('change', function() {
        dayNight = this.value
        //accidentMap = accidentMap + this.value

    });
    $('#submit').on('click', function() {
        var accidentMap = '/api/data/get_accident_trafficMap/' + yearMonth + level
        $.ajax({
        method:"GET",
        url: accidentMap,
        success:function(res,index){
            data = res;
            x = data[0].fields.positionX.replace('?','');
            y = data[0].fields.positionY.replace('?','');
            console.log(data);
            centerLatLng ={lat:Number(x),lng:Number(y)};
            console.log(centerLatLng)
            initMap()
        }
        })
    });
    function initMap() {

        console.log('init')
        map = new google.maps.Map(document.getElementById('map'), {
            center:{lat:22.956175,lng:120.538326},
            zoom: 10
        });



        for(var i =0 ;i < data.length; i++){
            if(level == "/1/"){
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(Number(data[i].fields.positionX.replace('?','')),Number(data[i].fields.positionY.replace('?',''))),
                map: map,
                optimized: true ,
                icon:{
                    url:"{% static 'img/warning-1.png' %}",
                    scaledSize:new google.maps.Size(30,30)
                }
                });
            }else if(level == "/2/"){
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(Number(data[i].fields.positionX.replace('?','')),Number(data[i].fields.positionY.replace('?',''))),
                map: map,
                optimized: true ,
                icon:{
                    url:"{% static 'img/warning-2.png' %}",
                    scaledSize:new google.maps.Size(15,15)
                }
                });
            }else if(level == "/3/"){
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(Number(data[i].fields.positionX.replace('?','')),Number(data[i].fields.positionY.replace('?',''))),
                map: map,
                optimized: true ,
                icon:{
                    url:"{% static 'img/warning-3.png' %}",
                    scaledSize:new google.maps.Size(15,15)
                }
                });
            }
            var infowindow = new google.maps.InfoWindow({
                maxWidth:500,
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                var x = Number(data[i].fields.positionX.replace('?',''));
                var y = Number(data[i].fields.positionY.replace('?',''));
                return function() {
                infowindow.setContent(
                    '<div class="background" style="height:400px;width:400px">'+
                    '<h6><span style="font-size: 1em; color: Tomato;"><i class="fas fa-exclamation-triangle"></i></span>事故等級 :'+data[i].fields.accidentLevel.replace('?','') +'</h6>'+
                    '<h6><span style="font-size: 1em; color: Dodgerblue;"><i class="fas fa-clock"></i></span>事故時間點 :'+data[i].fields.accidentTime.replace('?','') +'</h6>'+
                    '<h6><span style="font-size: 1em; color: #17b01c;"><i class="bi bi-geo-alt-fill"></i></span>事故地點 :'+data[i].fields.dist.replace('?','') +data[i].fields.streetRoad.replace('?','') +'</h6>'+
                    '<img src="https://maps.googleapis.com/maps/api/streetview?location='+ x +','+ y +'&size=400x300&key=AIzaSyAXwg6KijAC7iPNlT9UTBiuQNSOVi5LWcc" >'+
                    '</div>'
                    );
                infowindow.open(map, marker);

                const panorama = new google.maps.StreetViewPanorama(
                    document.getElementById("pano"),
                    {
                    position: new google.maps.LatLng(Number(data[i].fields.positionX.replace('?','')),Number(data[i].fields.positionY.replace('?',''))),
                    pov: {
                        heading: 34,
                        pitch: 10,
                    },
                    }
                );
                map.setStreetView(panorama);




                }


            })(marker, i));



        }





        marker.setMap(map);



    };





    {% endblock jquery %}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjzjIWfIYVkcLjef9RMJ_1j3teDzZWxYU&callback=initMap">


    </script>
  </body>

{% endblock content %}
