{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<head>
   
</head>
<body>
    
    <!-- <p>{{ description }}</p> -->

    <div class="container">
        <div class="row">
            <div class="class col-md-6">
                
                {% for i in articles %}
            
                    <div class="card rounded shadow-lg m-2" style="width: 25rem;">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-title">{{ i.author }} {{ i.source.name }}</p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <small>日期: {{i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">看新聞</a>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>

            

        </div>
    </div>


    <!-- <div class="card-deck">


        <div class="card">

            {% for i in articlesi %}
            <img class="card-img-top" src="{{ i.urlToImage }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ i.author }} {{ i.source.name }}</h5>
                <p class="card-title">{{ i.title }}</p>
                <p class="card-text">{{ i.description }</p>
                <hr>
                <p class="card-text"><small class="text-muted">日期: {{i.publishedAt }}</small></p>
                <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">看新聞</a>
            </div>
            {% endfor %}

        </div>

        
        <div class="card">

            {% for j in articlesj %}
            <img class="card-img-top" src="{{ j.urlToImage }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ j.author }} {{ j.source.name }}</h5>
                <p class="card-title">{{ j.title }}</p>
                <p class="card-text">{{ j.description }</p>
                <hr>
                <p class="card-text"><small class="text-muted">日期: {{j.publishedAt }}</small></p>
                <a href="{{ j.url }}" target="_blank" class="btn btn-success m-1">看新聞</a>
            </div>
            {% endfor %}


        <div class="card">

            {% for k in articlesk %}
            <img class="card-img-top" src="{{ k.urlToImage }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ k.author }} {{ k.source.name }}</h5>
                <p class="card-title">{{ k.title }}</p>
                <p class="card-text">{{ k.description }</p>
                <hr>
                <p class="card-text"><small class="text-muted">日期: {{k.publishedAt }}</small></p>
                <a href="{{ k.url }}" target="_blank" class="btn btn-success m-1">看新聞</a>
            </div>
            {% endfor %}

      </div> -->
</body>
</html>
{% endblock %}