{% extends 'nav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
    
    <!-- <p>{{ title }}</p> -->

    <div class="container">
        <div class="row">
            <div class="class col-md-6">
                
                {% for i in articles %}
            
                    <div class="card rounded shadow-lg m-2" style="width: 25rem;">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-title">{{ i.author }} {{ i.source.name }}</p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-title"></p>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <small>日期: {{i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">看新聞</a>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>

        </div>
    </div>



</body>
</html>
{% endblock %}